.fitinhas-do-senhor-do-bonfim-1-icon,
.image-placeholder-icon1 {
  position: absolute;
  top: 3682px;
  left: 194px;
  width: 1718.7px;
  height: 1394px;
  object-fit: cover;
}
.image-placeholder-icon1 {
  top: 0;
  width: 1280px;
  height: 722px;
}
.bg2,
.group-icon,
.hero {
  position: absolute;
  top: 99px;
  left: -194px;
  width: 1912.7px;
  height: 5183px;
}
.bg2,
.group-icon {
  top: 4760px;
  left: 851px;
  width: 218px;
  height: 10px;
}
.bg2 {
  top: 0;
  left: 0;
  background-color: var(--light-base-color-white);
  box-shadow: var(--d1);
  width: 1920px;
  height: 100px;
}
.salvador-bahia9 {
  position: absolute;
  top: 26px;
  left: 315px;
  font-weight: 900;
  background: linear-gradient(
    269.48deg,
    #bc0004,
    #f77700 24.06%,
    #f7df00 47.5%,
    #7c9b32 70.94%,
    #009bdb 88.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 327px;
}
.home10 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.rectangle-div {
  position: absolute;
  top: 30px;
  left: 17px;
  border-radius: var(--br-11xl);
  background-color: var(--color-crimson);
  width: 18px;
  height: 4px;
}
.home9 {
  position: relative;
  width: 52px;
  height: 24px;
  color: var(--black);
}
.comentrios5 {
  position: relative;
  font-size: var(--font-size-xl);
}
.menu4,
.navbar4 {
  position: absolute;
}
.menu4 {
  top: 38px;
  left: 840px;
  width: 767px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-40xl);
  font-size: var(--font-size-6xl);
}
.navbar4 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-21xl);
  color: var(--grey-1);
}
.comentrios6 {
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.veja-a-opinio {
  position: relative;
  font-size: var(--font-size-29xl);
  display: inline-block;
  font-family: var(--body-body-1-regular);
  color: var(--black);
  text-align: center;
  width: 591px;
}
.title1 {
  position: absolute;
  top: 0;
  left: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.arrow-left-icon1,
.ellipse-icon {
  position: absolute;
  top: 151px;
  left: 0;
  width: 48px;
  height: 48px;
}
.ellipse-icon {
  top: 46px;
  left: 113px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.uiux-designer3 {
  position: relative;
  font-size: var(--font-size-sm);
}
.magic-star-icon15 {
  position: relative;
  width: 16px;
  height: 16px;
}
.frame-div,
.stars3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-div {
  position: absolute;
  top: 138px;
  left: 101px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.customer-testimonials-are3 {
  position: absolute;
  top: 213px;
  left: 41px;
  font-size: var(--font-size-sm);
  line-height: 133%;
  display: inline-block;
  width: 224px;
}
.vuesaxboldquote-down-circle-icon3 {
  position: absolute;
  top: -20px;
  left: 238px;
  width: 40px;
  height: 40px;
}
.card7 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--light-base-color-white);
  box-shadow: var(--d1);
  border: 1px solid var(--grey-2);
  box-sizing: border-box;
  width: 302px;
  height: 350px;
}
.cards1 {
  position: absolute;
  top: 0;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.arrow-right-icon1 {
  position: absolute;
  top: 151px;
  left: 1122px;
  width: 48px;
  height: 48px;
}
.slide1,
.testimonial1 {
  position: absolute;
  width: 1170px;
}
.slide1 {
  top: 219px;
  left: 0;
  height: 350px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--black);
}
.testimonial1 {
  top: 4096px;
  left: 375px;
  height: 569px;
  color: var(--color-darkcyan);
}
.fitinhas-do-senhor-do-bonfim-3-icon {
  position: absolute;
  top: 622px;
  left: 234px;
  width: 1686px;
  height: 1578.1px;
  object-fit: cover;
}
.fitinhas-do-senhor-do-bonfim-2-icon {
  position: absolute;
  top: 0;
  left: 200px;
  width: 442.9px;
  height: 1668.9px;
  object-fit: cover;
}
.bem-vindo-a,
.capital-do-estado {
  position: absolute;
  top: 254px;
  left: 521px;
  letter-spacing: 0.01em;
  line-height: 120%;
  display: inline-block;
  width: 639px;
}
.capital-do-estado {
  top: 420px;
  font-size: var(--font-size-11xl);
  width: 453px;
}
.image-1-icon {
  position: absolute;
  top: 157px;
  left: 1329px;
  width: 475px;
  height: 679px;
  object-fit: cover;
}
.button {
  position: absolute;
  top: 688px;
  left: 656px;
  border-radius: var(--br-26xl);
  background-color: var(--color-yellowgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  font-size: var(--font-size-xl);
  color: #424040;
  font-family: var(--font-barlow);
}
.fitinhas-do-senhor-do-bonfim-2-parent {
  position: absolute;
  top: 756px;
  left: -200px;
  width: 1804px;
  height: 1668.9px;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--body-body-1-regular);
}
.image-4-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 722px;
  object-fit: cover;
}
.back-buttons-icon1 {
  position: absolute;
  height: 7.76%;
  width: 66.72%;
  top: 80.75%;
  right: 16.46%;
  bottom: 11.5%;
  left: 16.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.salvador-ba1,
.um-paraso-de4 {
  position: absolute;
  display: inline-block;
}
.um-paraso-de4 {
  top: 122px;
  left: calc(50% - 451.5px);
  letter-spacing: 0.01em;
  line-height: 125%;
  font-weight: 600;
  width: 903px;
}
.salvador-ba1 {
  top: 0;
  left: calc(50% - 361.5px);
  font-size: var(--font-size-61xl);
  line-height: 120%;
  font-weight: 800;
  width: 723px;
}
.um-paraso-de-belas-praias-mu-parent1 {
  position: absolute;
  top: 281px;
  left: 508px;
  width: 903px;
  height: 160px;
}
.image-4-container {
  position: absolute;
  top: 101px;
  left: 0;
  width: 1920px;
  height: 722px;
  text-align: center;
  font-size: var(--font-size-11xl);
  font-family: var(--body-body-1-regular);
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1923px;
  height: 285px;
}
.sistemas-web-20234,
.turismo4 {
  position: absolute;
  top: 171.1px;
  left: calc(50% - 279.5px);
  letter-spacing: 0.01em;
  line-height: 125%;
  display: inline-block;
  width: 559px;
  height: 34.3px;
}
.turismo4 {
  top: 62px;
  left: calc(50% - 57.5px);
  font-size: var(--font-size-xl);
  width: 114px;
  height: 17px;
}
.group-social-icons4 {
  position: absolute;
  height: 11.73%;
  width: 22.54%;
  top: 48.98%;
  right: 38.82%;
  bottom: 39.29%;
  left: 38.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.salvador-bahia10 {
  position: absolute;
  top: 0;
  left: 102px;
  font-size: var(--font-size-21xl);
  font-weight: 900;
  font-family: var(--font-barlow);
  background: linear-gradient(
    269.48deg,
    #bc0004,
    #f77700 24.06%,
    #f7df00 47.5%,
    #7c9b32 70.94%,
    #009bdb 88.12%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 358px;
}
.footer4,
.sistemas-web-2023-parent1 {
  position: absolute;
  top: 60px;
  left: 682px;
  width: 559px;
  height: 205.4px;
}
.footer4 {
  top: 4890px;
  left: -1px;
  width: 1923px;
  height: 285px;
  text-align: center;
  font-size: var(--body-body-1-regular-size);
  font-family: var(--body-body-1-regular);
}
.bottom,
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1916px;
  height: 2204px;
}
.bottom {
  height: 40%;
  width: 100%;
  top: 60%;
  right: 0;
  bottom: 0;
  border-radius: 0 0 var(--br-base) var(--br-base);
  background-color: var(--light-base-color-white);
}
.fall-in-love {
  font-size: var(--font-size-xl);
  line-height: 132%;
  display: inline-block;
  width: 320px;
}
.fall-in-love,
.prague-czechia {
  position: relative;
}
.magic-star-icon30 {
  position: relative;
  width: 15.6px;
  height: 15.6px;
}
.div {
  position: relative;
  font-weight: 600;
}
.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.start {
  border-radius: var(--br-19xl);
  background-color: var(--color-goldenrod-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs);
  color: var(--secondary);
}
.b,
.days-tour {
  position: relative;
  line-height: 132%;
}
.days-tour {
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--grey-1);
}
.price {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-7xl);
  color: var(--color-darkcyan);
}
.content {
  position: absolute;
  top: 320px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-icon {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bottom1,
.card-4 {
  position: absolute;
  top: 1px;
  left: 1201px;
  width: 370px;
  height: 500px;
}
.bottom1 {
  height: 40%;
  width: 99.73%;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0.27%;
  border-radius: 0 0 var(--br-base) var(--br-base);
  background-color: var(--light-base-color-white);
}
.price1 {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-5xl);
  color: var(--color-darkcyan);
}
.content2 {
  position: absolute;
  top: 320px;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-5-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  width: 370px;
  height: 300px;
  object-fit: cover;
}
.card-1,
.image-7-icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 371px;
  height: 500px;
}
.image-7-icon {
  top: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  width: 370px;
  height: 298px;
  object-fit: cover;
}
.bottom3,
.card-2 {
  position: absolute;
  top: 1px;
  left: 401px;
  width: 370px;
  height: 500px;
}
.bottom3 {
  height: 39.92%;
  width: 100%;
  top: 60.08%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-base) var(--br-base);
  background-color: var(--light-base-color-white);
}
.content6 {
  position: absolute;
  top: 321px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-8-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  width: 370px;
  height: 299px;
  object-fit: cover;
}
.card-3,
.card-4-parent {
  position: absolute;
  top: 0;
  left: 801px;
  width: 370px;
  height: 501px;
}
.card-4-parent {
  left: 0;
  width: 1571px;
}
.frame-wrapper {
  position: absolute;
  top: 330px;
  left: calc(50% - 644px);
  width: 1288px;
  height: 501px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
}
.arrow-left-icon2 {
  position: relative;
  width: 48px;
  height: 48px;
}
.navigation {
  position: absolute;
  top: 913px;
  left: calc(50% - 55.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.conhea-um-pouco {
  position: absolute;
  top: 98px;
  left: calc(50% - 462px);
  font-size: var(--font-size-41xl);
  display: inline-block;
  color: #ebf0f3;
  width: 924px;
}
.pontos-tursticos9 {
  position: absolute;
  top: 0;
  left: calc(50% - 125px);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fcf496;
}
.monte-seu-roteiro {
  position: relative;
  font-size: var(--font-size-41xl);
  display: inline-block;
  width: 1009px;
}
.quer-conhecer-um {
  position: relative;
  color: #e1faf9;
}
.veja-os-locais {
  position: relative;
  font-weight: 500;
}
.button1,
.content8 {
  display: flex;
  align-items: center;
}
.button1 {
  border-radius: var(--br-26xl);
  background-color: var(--color-deepskyblue-100);
  border: 2px solid var(--color-mediumturquoise);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-barlow);
}
.content8 {
  position: absolute;
  top: 0;
  left: calc(50% - 455px);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.image,
.image-icon1 {
  position: absolute;
  border-radius: var(--br-base);
}
.image {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light-base-color-white);
}
.image-icon1 {
  height: 65.79%;
  width: 92.48%;
  top: 2.41%;
  right: 3.58%;
  bottom: 31.79%;
  left: 3.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b4,
.saiba-mais2 {
  position: absolute;
  top: 11px;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 132%;
  color: var(--color-mediumturquoise);
}
.saiba-mais2 {
  top: 31px;
  left: 26px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--grey-1);
}
.content9 {
  position: absolute;
  height: 20%;
  width: 50.39%;
  top: 71.03%;
  right: 45.67%;
  bottom: 8.97%;
  left: 3.94%;
}
.image-parent {
  position: relative;
  width: 254px;
  height: 290px;
}
.igrejas {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 132%;
}
.frame-container {
  position: absolute;
  top: 422px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--font-barlow);
}
.all-tours {
  position: absolute;
  top: 1142px;
  left: 68px;
  width: 1142px;
  height: 712px;
  color: var(--light-base-color-white);
  font-family: var(--body-body-1-regular);
}
.line-div {
  position: absolute;
  top: 1059px;
  left: calc(50% - 517px);
  width: 1069px;
  height: 0;
}
.frame-group {
  position: absolute;
  top: 189px;
  left: 300px;
  width: 1288px;
  height: 1854px;
}
.rectangle-parent {
  position: absolute;
  top: 1692px;
  left: 0;
  width: 1916px;
  height: 2204px;
  text-align: center;
  color: var(--black);
}
.home8 {
  position: relative;
  background-color: var(--light-base-color-white);
  width: 100%;
  height: 5175px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--light-base-color-white);
  font-family: var(--font-barlow);
}
